/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2013, 6:42:15 AM
    Author     : Paul
*/
#albumImage{
    width: 620px;
    margin-bottom: 10px;
}
#albumImage img{
    width: 100%;
    display: block;
    margin: auto;
}
#thumbWrapper{
    width: 620px;
    overflow: auto;
}
#thumblist{
    white-space: nowrap;
    margin: 0px;
}
#thumblist li{
    display: inline;
    list-style-type: none;
    padding: 0 2px;
    cursor: pointer;
}
#thumblist li:hover{
    opacity: 0.5;
}